<h1>Reset Password</h1>
<form action="/reset-password/<%= token %>" method="POST">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <div>
    <label>New Password:</label>
    <input type="password" name="password" required>
  </div>
  <button type="submit">Reset Password</button>
</form>
